<div class="container">
  <form [formGroup]="group" class="wrapper">
    <h2 class="title">Recuperar a senha</h2>

    <div class="recover">
      <div class="group">
        <input class="group-input" placeholder="Digite seu e-mail para recuperar sua Senha" type="text" name="email" formControlName="email">

        <div [hidden]="!email.errors || !sendForm" class="errors">
          <div class="error" [hidden]="!email.errors?.required">Digite seu e-mail</div>
          <div class="error" [hidden]="!email.errors?.emailInvalid">E-mail inválido</div>
        </div>
      </div>
    </div>

    <a routerLink="/login" class="return-login">
      Ir para o login
    </a>

    <button class="btn-recover" type="button" (click)="recover()">Enviar</button>
  </form>
</div>