<div class="container">
  <div class="wrapper">
    <section class="home-header">
      <img class="header-image" src="{{AppSettings.BASE}}/assets/png/front-test.png" alt="">
      <div class="header-text">
        Mussum Ipsum, cacilds vidis litro abertis. 
        <br>
        Casamentiss faiz malandris se pirulitá.
      </div>
      <a href="javascript:void(0);" class="more-infos">
        Saiba mais
      </a>
    </section>

    <section class="home-cards">
      <div class="container-cards">
        <div class="card">
          <h4 class="card-title">Mussum Ipsum cacilds</h4>
          <div class="image-container">
            <img src="card-image" src="{{AppSettings.BASE}}/assets/png/fingerprint.png" alt="">
          </div>
          <div class="card-text">
            Mussum Ipsum, cacildsvidis litro abertis. Casamentiss faiz malandris se pirulitá.
          </div>
          <a class="card-more-infos" href="javascript:void(0);">Saiba mais</a>
        </div>
        <div class="card">
          <h4 class="card-title">Mussum Ipsum cacilds</h4>
          <div class="image-container">
            <img src="card-image" src="{{AppSettings.BASE}}/assets/png/fingerprint.png" alt="">
          </div>
          <div class="card-text">
            Mussum Ipsum, cacildsvidis litro abertis. Casamentiss faiz malandris se pirulitá.
          </div>
          <a class="card-more-infos" href="javascript:void(0);">Saiba mais</a>
        </div>
        <div class="card">
          <h4 class="card-title">Mussum Ipsum cacilds</h4>
          <div class="image-container">
            <img src="card-image" src="{{AppSettings.BASE}}/assets/png/fingerprint.png" alt="">
          </div>
          <div class="card-text">
            Mussum Ipsum, cacildsvidis litro abertis. Casamentiss faiz malandris se pirulitá.
          </div>
          <a class="card-more-infos" href="javascript:void(0);">Saiba mais</a>
        </div>
      </div>
    </section>
  </div>
</div>

<praxio-footer></praxio-footer>