<div class="container">
  <div class="footer-wrapper">
    <div class="map-footer">
      <ul class="footer-list">
        <li class="footer-item">
          <a class="footer-link" href="javascript:void(0);">Quem somos</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="javascript:void(0);">Como funciona</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="javascript:void(0);">FAQ's</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="javascript:void(0);">Contato</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" [routerLink]="['/login']" >Login</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" [routerLink]="['/register']">Cadastro</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="javascript:void(0);">Termo de Uso</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="javascript:void(0);">Privacidade</a>
        </li>
      </ul>
    </div>

    <img class="footer-image" src="{{AppSettings.BASE}}/assets/png/bg-front.png" alt="">
  </div>
</div>